# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environment
venv/
env/
.env
.env.example

# Django
*.log
db.sqlite3
staticfiles/
media/

# Editors
.vscode/
.idea/
.DS_Store

# Git
.gitignore

# Docker
.dockerignore
Dockerfile