DJ_SECRET_KEY=
DJ_TIME_ZONE='UTC'

# 't' is True; 'f' is False
DJ_DEBUG='t'

ALLOWED_HOSTS='*'
CSRF_TRUSTED_ORIGINS='http://localhost:8000'
CORS_ORIGINS=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

REDIS_URL=

SMTP_HOST=
SMTP_PORT=
SMTP_HOST_USER=
SMTP_HOST_PASSWORD=
SMTP_USE_TLS=
SMTP_USE_SSL=
SMTP_DEFAULT_FROM_EMAIL=

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
