Django
djangorestframework
djangorestframework_simplejwt
dj-rest-auth[with-social]
django-filter
drf-spectacular
django-cors-headers
celery
django-celery-beat
redis
hiredis
pillow
psycopg
pytest
pytest-django
python-dotenv
