:root {
    --color-background: hsl(0, 0%, 90%);
    --color-foreground: hsl(0, 0%, 100%);
    --color-action: hsl(152, 56%, 51%);
    --color-action-darker: hsl(152, 56%, 41%);
    --color-danger: hsl(350, 73%, 44%);
    --color-disabled: hsl(240, 5%, 70%)
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

#root {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

nav {
    margin: 0;
    padding: 20px;
    border-bottom: 2px solid var(--color-background);
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: color 0.5s;
}

nav a.active {
    text-decoration: none;
    color: var(--color-action);
}

nav a:hover {
    text-decoration: none;
    color: var(--color-action);
}

footer {
    background-color: var(--color-background);
    margin: 0;
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--color-action);
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.centered-container {
    text-align: center;
    margin: 0;
    padding: 30px;
}

.centered-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-container {
    border: 2px solid var(--color-background);
    border-radius: 10px;
    margin: 25px 0;
    padding: 40px 50px;
}

.auth-container form {
    margin: 20px 0;
}

.auth-container button {
    margin-top: 10px;
}

.auth-container input {
    font-size: 1.2rem;
    background-color: var(--color-background);
    padding: 7px 12px;
    margin-bottom: 20px;
    margin-top: 5px;
    border: none;
    border-radius: 10px;
}

.error-message {
    color: var(--color-danger);
}

button {
    background-color: var(--color-action);
    font-size: 1.2rem;
    padding: 7px 12px;
    color: var(--color-foreground);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:active:not(:disabled) {
    background-color: var(--color-action-darker);
}

button:disabled {
    background-color: var(--color-disabled);
    cursor: not-allowed;
}
